.aboutContent {
  height: 100%;
  min-width: 300px;
  background: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
  @include large-only {
    width: 80vw;
  }
  & img {
    cursor: pointer;
  }
  & h2 {
    width: 90vw;
    height: 38px;
    border-radius: 5px;
    background: $main-color;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include large-only {
      width: 80vw;
      height: 47px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & .aboutText {
    display: none;
    background: #f7f7f7;
    width: 100%;
    padding: 25px 12px;
    border-radius: 0 0 5px 5px;
    color: $main-color;
    font-size: 0.9rem;
  }
  & .shownText {
    display: block;
  }
}
