.tags {
  background-color: $main-color;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  display: block;
  margin-right: 3vw;
  @include large-only {
    margin-right: 1vw;
  }
}
