#homePageBanner {
  position: relative;
  margin-bottom: 5vw;
  @include large-only {
    margin-bottom: 6vw;
  }

  & #screen {
    background: #000000;
    mix-blend-mode: darken;
    position: absolute;
    transform: translate(5vw);
    width: 90vw;
    height: 34vw;
    opacity: 0.3;
    z-index: 20;
    border-radius: 10px;
    @include large-only {
      transform: translate(2vw);

      width: 94vw;
      height: 17vw;
      border-radius: 25px;
    }
  }
  & #imageHome {
    width: 90vw;
    height: 34vw;
    object-fit: cover;
    transform: translate(5vw);
    border-radius: 10px;
    @include large-only {
      transform: translate(2vw);

      width: 94vw;
      height: 17vw;
      border-radius: 25px;
    }
  }
  & #textHome {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    z-index: 40;
    width: 58%;
    text-align: left;
    @include large-only {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8em;
      width: 100%;
      text-align: center;
    }
  }
}

#cardGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  & .cardContainer {
    margin-bottom: 200px;
    @include large-only {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2vw;
    }
  }
}
