#aboutPage {
  padding-bottom: 200px;

  & #aboutPageBanner {
    position: relative;
    margin-bottom: 6vw;

    & #screenAbout {
      background: #000000;
      mix-blend-mode: darken;
      position: absolute;
      width: 94vw;
      transform: translate(2vw);
      height: 20vw;
      opacity: 0.3;
      z-index: 20;
      border-radius: 25px;
    }
    & #imageAbout {
      width: 94vw;
      height: 20vw;
      object-fit: cover;
      transform: translate(2vw);
      border-radius: 25px;
    }
  }
  & #aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-bottom: 200px;
  }
}
