#aboutPage {
  padding-bottom: 200px;

  & #aboutPageBanner {
    position: relative;
    margin-bottom: 6vw;

    & #screenAbout {
      background: #000000;
      mix-blend-mode: darken;
      position: absolute;
      width: 90vw;
      transform: translate(5vw);
      height: 60vw;
      opacity: 0.3;
      z-index: 20;
      border-radius: 10px;
      @include large-only {
        transform: translate(2vw);
        width: 94vw;
        height: 20vw;
        border-radius: 25px;
      }
    }
    & #imageAbout {
      width: 90vw;
      height: 60vw;
      object-fit: cover;
      transform: translate(5vw);
      border-radius: 10px;
      @include large-only {
        transform: translate(2vw);
        object-fit: cover;
        width: 94vw;
        height: 20vw;
        border-radius: 25px;
      }
    }
  }
  & #aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
