.flatPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-color;
  & .carousel {
    width: 90vw;
    border-radius: 10px;
    position: relative;
    @include large-only {
      border-radius: 25px;
      width: 92vw;
    }
    & .flatPic {
      width: 90vw;
      height: 70vw;
      border-radius: 10px;
      object-fit: cover;
      @include large-only {
        border-radius: 25px;
        width: 92vw;
        height: 50vw;
      }
    }
    & .leftArrow {
      position: absolute;
      top: 31vw;
      left: 2vw;
      cursor: pointer;
      @include large-only {
        top: 21vw;
        left: 1vw;
      }
      & .leftArrowIcon {
        height: 8vw;
      }
    }
    & .rightArrow {
      position: absolute;
      top: 31vw;
      right: 2vw;
      cursor: pointer;
      @include large-only {
        top: 21vw;
        right: 1vw;
      }
      & .rightArrowIcon {
        height: 8vw;
      }
    }
    & .picCounter {
      display: none;
      @include large-only {
        display: block;
        position: absolute;
        left: 46vw;
        bottom: 4vw;
        font-weight: bold;
        color: white;
      }
    }
  }
  & .containerInfos {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vw 0 4vw 0;
    @include large-only {
      width: 92vw;
      flex-direction: row;
    }

    & .titleInfos {
      position: relative;
      margin-bottom: 8vw;
      @include large-only {
        margin-bottom: 0;
      }
      & h1 {
        margin-bottom: 1vw;
        font-size: 6vw;
        @include large-only {
          font-size: 3vw;
          margin-right: 3vw;
        }
      }
      & h2 {
        font-size: 4vw;
        margin-bottom: 12vw;
        @include large-only {
          font-size: 2vw;
          margin-bottom: auto;
        }
      }
    }
    & .tagsInfos {
      display: flex;
      position: absolute;
      bottom: 0;
    }
    & .hostInfos {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 90vw;
      margin-bottom: 2vw;
      @include large-only {
        width: 25vw;
        flex-direction: column;
        margin-bottom: auto;
      }
      & .host {
        display: flex;
        align-items: center;
        width: 33vw;
        align-self: end;
        justify-content: flex-end;
        margin-bottom: 0;
        @include large-only {
          margin-bottom: 3vw;
          width: 33vw;
        }
        & .hostName {
          font-size: 4vw;
          text-align: right;
          margin-right: 3vw;
          line-height: 1.4;
          @include large-only {
            font-size: 1.6vw;
          }
        }
        & .hostPic {
          border-radius: 50%;
          width: 12vw;
          @include large-only {
            width: 8vw;
          }
        }
      }
      & .starsRating {
        align-self: end;
        & .starsContainer {
          display: flex;
          justify-content: space-between;
          width: 22vw;
          & span {
            transform: scale(0.6);
            width: 1%;
            @include large-only {
              width: auto;
              transform: none;
            }
          }
        }
      }
    }
  }
  & .containerDescription {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    flex-direction: column;
    @include large-only {
      width: 92vw;
      flex-direction: row;
    }

    & .aboutContent {
      width: 90vw;
      @include large-only {
        width: 42vw;
      }
      & h2 {
        width: auto;
      }
      & .aboutText{
        width: 100%;
      }
    }
  }
}
