#footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  position: absolute;
  bottom: 0;
  width: 100%;
  & #logoFooter {
    margin-bottom: 20px;
    max-width: 26vw;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    @include large-only {
      max-width: 12vw;
    }
  }
  & #textFooter {
    color: white;
    font-size: 10px;
    @include large-only {
      font-size: 12px;
    }
  }
}
