@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  width: auto;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.aboutContent {
  width: 80vw;
  height: 100%;
  min-width: 300px;
  background: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
}
.aboutContent img {
  cursor: pointer;
}
.aboutContent h2 {
  width: 80vw;
  height: 47px;
  border-radius: 5px;
  background: #FF6060;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutContent h2:hover {
  cursor: pointer;
}
.aboutContent .aboutText {
  display: none;
  background: #f7f7f7;
  width: 100%;
  padding: 25px 12px;
  border-radius: 0 0 5px 5px;
  color: #FF6060;
  font-size: 0.9rem;
}
.aboutContent .shownText {
  display: block;
}

.tags {
  background-color: #FF6060;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  display: block;
  margin-right: 1vw;
}

.flatCard {
  width: 30vw;
  height: 30vw;
  position: relative;
}
.flatCard .imageContainer {
  position: relative;
  display: inline-block;
  width: 30vw;
  height: 30vw;
  border-radius: 10px;
}
.flatCard .imageContainer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C */
  border-radius: 10px;
}
.flatCard .imageContainer img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}
.flatCard .imageContainer span {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  font-size: 0.9em;
  margin: 2vw;
}

#homePageBanner {
  position: relative;
  margin-bottom: 6vw;
}
#homePageBanner #screen {
  background: #000000;
  mix-blend-mode: darken;
  position: absolute;
  width: 94vw;
  transform: translate(2vw);
  height: 17vw;
  opacity: 0.3;
  z-index: 20;
  border-radius: 25px;
}
#homePageBanner #imageHome {
  width: 94vw;
  height: 17vw;
  object-fit: cover;
  transform: translate(2vw);
  border-radius: 25px;
}
#homePageBanner #textHome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.8em;
  z-index: 40;
  width: 100%;
  text-align: center;
}

#cardGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cardGridContainer .cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  margin-bottom: 200px;
}

#header {
  margin: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #logoHeader {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  max-width: 18vw;
}
#header #menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}
#header #menu .nav {
  text-decoration: none;
  color: #FF6060;
}
#header #menu .selected {
  text-decoration: underline;
}

#footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer #logoFooter {
  margin-bottom: 20px;
  max-width: 12vw;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#footer #textFooter {
  color: white;
  font-size: 12px;
}

.flatPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}
.flatPage .carousel {
  width: 92vw;
  border-radius: 25px;
  position: relative;
}
.flatPage .carousel .flatPic {
  width: 92vw;
  height: 50vw;
  border-radius: 25px;
  object-fit: cover;
}
.flatPage .carousel .leftArrow {
  position: absolute;
  top: 21vw;
  left: 1vw;
}
.flatPage .carousel .leftArrow .leftArrowIcon {
  height: 8vw;
}
.flatPage .carousel .rightArrow {
  position: absolute;
  top: 21vw;
  right: 1vw;
}
.flatPage .carousel .rightArrow .rightArrowIcon {
  height: 8vw;
}
.flatPage .carousel .picCounter {
  position: absolute;
  left: 46vw;
  bottom: 4vw;
  font-weight: bold;
  color: white;
}
.flatPage .containerInfos {
  width: 92vw;
  display: flex;
  justify-content: space-between;
  margin: 3vw 0 4vw 0;
}
.flatPage .containerInfos .titleInfos {
  position: relative;
}
.flatPage .containerInfos .titleInfos h1 {
  margin-bottom: 1vw;
}
.flatPage .containerInfos .titleInfos h2 {
  font-size: 0.9em;
}
.flatPage .containerInfos .tagsInfos {
  display: flex;
  position: absolute;
  bottom: 0;
}
.flatPage .containerInfos .hostInfos {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.flatPage .containerInfos .hostInfos .host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  align-self: end;
  margin-bottom: 3vw;
}
.flatPage .containerInfos .hostInfos .host .hostName {
  text-align: right;
  line-height: 1.4;
}
.flatPage .containerInfos .hostInfos .host .hostPic {
  border-radius: 50%;
  width: 10vw;
}
.flatPage .containerInfos .hostInfos .starsRating {
  align-self: end;
}
.flatPage .containerInfos .hostInfos .starsRating .starsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
}
.flatPage .containerDescription {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  width: 92vw;
}
.flatPage .containerDescription .aboutContent {
  width: 42vw;
}
.flatPage .containerDescription .aboutContent h2 {
  width: auto;
}

#aboutPage {
  padding-bottom: 200px;
}
#aboutPage #aboutPageBanner {
  position: relative;
  margin-bottom: 6vw;
}
#aboutPage #aboutPageBanner #screenAbout {
  background: #000000;
  mix-blend-mode: darken;
  position: absolute;
  width: 94vw;
  transform: translate(2vw);
  height: 20vw;
  opacity: 0.3;
  z-index: 20;
  border-radius: 25px;
}
#aboutPage #aboutPageBanner #imageAbout {
  width: 94vw;
  height: 20vw;
  object-fit: cover;
  transform: translate(2vw);
  border-radius: 25px;
}
#aboutPage #aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#erreurContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}
#erreurContainer #titreErreur {
  font-weight: 700;
  font-size: 20vw;
}
#erreurContainer #textErreur {
  font-size: 1.4em;
}
#erreurContainer #backHome {
  color: #FF6060;
  font-size: 0.8em;
  margin-top: 12vw;
}

/*# sourceMappingURL=style.css.map */
